extends layout

block content

  div(class="modal-container" id="infoContainer")
    div(class="modal-content")
      div(class="modal-header modal-info")
        span(class="close") X
        h2 Info
      div(class="modal-body")
        h2= message
  
  script.
    let modal = document.getElementById("infoContainer");
    let span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
      window.location.href="http://#{hostname}:8080/reports/items";
    }
    window.onclick = function(event) {
      if(event.target == modal ) {
        modal.style.display = "none";
        window.location.href="http://#{hostname}:8080/reports/items";
      }
    }
    

    
