extends layout

block content

   .report-heading
      span Items: 
      a(href="/items/add") Add Item
      form(class="form-horizontal" action="/items", method="get") 
           label(for="filter") Filter 
           select#filter(name="filter") 
               option(value="all", selected=filterClass == "all") all
                     each itemClass in itemClasses 
                        option(value=itemClass, selected=itemClass == filterClass) #{itemClass}
           input(class="refresh" type="submit" value="Refresh")
      button(onclick=`window.location.href='/items/report/csv?filter=${filterClass}'`) Download CSV

   div
      table
         thead
            tr
               th Name
               th Class 
               th Type
               th Category
               th Unit
               th Pkg Qty
               th Units On Hand
               th Last Update
         tbody 
            each row in rows
               tr
                  td #{row[1]}
                  td #{row[2]}
                  td #{row[3]}
                  td #{row[4]}
                  td #{row[5]}
                  td #{row[6]}
                  td #{row[7]}
                  td #{row[8]}
                  td 
                     a(href=`/items/update?${row[0]}`) update
                  td 
                     a(href=`/items/delete?${row[0]}` onclick=`return confirm("Are you sure you want to permanently delete item ${row[1]}/${row[2]}/${row[3]} and associated shipping and receiving records from the database?")`) delete    
                  td 
                     a(href=`/receive?${row[0]}`)  receive
                  td 
                     a(href=`/ship?${row[0]}`)  ship
                  td 
                     a(href=`/transfer?${row[0]}`) transfer
                  td 
                     a(href=`/items/reports?${row[0]}`) reports
   
   