extends layout

block content

  .report-heading
     span Receiving Report: 
     span 
        form(class="form-horizontal" action="/receive/report", method="get") 
           label(for="interval") Last 
           input#interval( style='max-width: 50px;' value=days name="interval" type="number") 
           label Days
           input(type="submit" value="Refresh")
     button(onclick=`window.location.href='/receive/report/csv?interval=${days}'`) Download CSV
     div(class="vertical-bar")
     button(class="report-details" onclick="window.location.href='/receive/report/details?interval=30&sort=name'") Receiving Details

  div
      table
         thead
             tr
                th Name
                th Class 
                th Type
                th Received
                th On Hand
                th Last Receive
         tbody 
            each row in rows
              tr
                td #{row.Name}
                td #{row.Class}
                td #{row.Type}
                td #{row.Received}
                td #{row["On Hand"]}
                td #{row["Last Receive"]}
 
