extends layout

block content

  .report-heading
     span Receiving Report: 
     form(class="form-horizontal" action="/reports/receiving", method="get") 
         label(for="interval") Last 
         input#interval( style='max-width: 50px;' value=days name="interval" type="number") 
         label Days
         input(class="refresh" type="submit" value="Refresh")
     button(onclick=`window.location.href='/reports/receivingCSV?interval=${days}'`) Download CSV
     div(class="vertical-bar")
     button(class="report-details" onclick=`window.location.href='/reports/receivingDetails?interval=${days}&sort=name'`) Receiving Details

  div
      table
         thead
             tr
                th Name
                th Class 
                th Type
                th Received
                th On Hand
                th Last Receive
         tbody 
            each row in rows
              tr
                td #{row.Name}
                td #{row.Class}
                td #{row.Type}
                td #{row.Received}
                td #{row["On Hand"]}
                td #{row["Last Receive"]}
 
