extends layout

block content

  .report-heading
     span Shipping Summary Report: 
     form(class="form-horizontal" action="/reports/shipping", method="get") 
           label(for="interval") Last 
           input#interval( style='max-width: 50px; margin: 0 0 0 0; padding: 0 0 0 0;' value=days name="interval" type="number") 
           label(style="margin-left: 0; padding: 0 0 0 0") Days
           input(class="refresh" type="submit" value="Refresh")
     button(onclick=`window.location.href='/reports/shippingCSV?interval=${days}'`) Download CSV
     div(class="vertical-bar")
     button(class="report-details" onclick=`window.location.href='/reports/shippingDetails?interval=${days}&sort=name'`) Shipping Details

  div
      table
         thead
             tr
                th Name
                th Class 
                th Type
                th Shipped
                th On Hand
                th Last Ship
         tbody 
            each row in rows
              tr
                td #{row.Name}
                td #{row.Class}
                td #{row.Type}
                td #{row.Shipped}
                td #{row["On Hand"]}
                td #{row["Last Ship"]}
 
