extends layout

block content

  .form-div

      h2 Transfer
      p(class="shipping") #{item.itemType} #{item.itemClass} #{item.name} 
      p(class="shipping") On hand: #{item.qty}

      form(action="/transfer", method="POST")
         ul.form-style
            li
               label(for="itemClass") To Class 
               select#toClass(name="toClass", class="field-select", required, autofocus)
                  option(value="", selected) -select-
                  each itemClass in itemClasses 
                        option(value=itemClass) #{itemClass}
            li
               label(for="qty") Transfer Qty
                  span(class="required") *
               input#qty(type="number", name="qty", placeholder="required")
               input#id(type="number", hidden="true", name="id" value=item.id)
            li.button-group
               button(type="submit") Submit
               button(type="button" onclick="history.back()") Cancel

     
