extends layout

block content

  .report-heading
     span Transfer Report: 
     span 
        form(class="form-horizontal" action="/transfer/report", method="get") 
           label(for="interval") Last 
           input#interval( style='max-width: 50px;' value=days name="interval" type="number") 
           label Days
           input(type="submit" value="Refresh")

  div
      table
         thead
             tr
                th Name
                th Class 
                th Type
                th Qty
                th To
         tbody 
            each row in rows
              tr
                td #{row.Name}
                td #{row.Class}
                td #{row.Type}
                td #{row.Transferred}
                td #{row.To}
 
