extends layout

block content

  .report-heading
     span Transfer Report: 
     span 
        form(class="form-horizontal" action="/reports/transfer", method="get") 
           label(for="interval") Last 
           input#interval( style='max-width: 50px;' value=days name="interval" type="number") 
           label Days
           input(class="refresh" type="submit" value="Refresh")
     button(onclick=`window.location.href='/reports/transferCSV?interval=${days}'`) Download CSV
     div(class="vertical-bar")
     button(class="report-details" onclick=`window.location.href='/reports/transferDetails?interval=${days}&sort=name'`) Transfer Details


  div
      table
         thead
             tr
                th Name
                th Class 
                th Type
                th Unit
                th Units Transferred
                th Qty per Unit
                th To Class
                th Last Transfer
         tbody 
            each row in rows
              tr
                td #{row.Name}
                td #{row.Class}
                td #{row.Type}
                td #{row.Unit}
                td #{row.Transferred}
                td #{row["Package Qty"]}
                td #{row.To}
                td #{row["Last Transfer"]}
 
